<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/templates/template.xhtml">
	
	<ui:define name="metadata">
		<f:metadata>
			<f:viewParam name="taskId" />
			<f:event type="preRenderView" listener="#{businessProcess.startTask(taskId, true)}" />
		</f:metadata>		
	</ui:define>
	
	<ui:define name="content">		
		<h1>#{task.name}</h1>
		Hallo #{processVariables['vorname']}, #{processVariables['nachname']}. 
		Vielen Dank fuer Ihre Anfrage. Wir koennen Ihnen folgendes Angebot machen:
		<p />
		Monatliche Rate: #{angebot.monatsbeitrag}.
		<p />
		<h:form>
			<h:selectBooleanCheckbox value="#{processVariables['angebotAkzeptiert']}" /> Ja, ich akzeptiere das Angebot.
			<p/>
			<h:commandButton value="Fertig" action="#{businessProcess.completeTask(true)}" />
		</h:form>
	</ui:define>
</ui:composition>
