<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="content">
		<h1>Antrag f&#252;r die <br />Kraftfahrtversicherung</h1>
		<h:form>
			<table>
				<tr>
					<td>Ihr Vorname:</td>
					<td><h:inputText value="#{processVariables['vorname']}" /></td>
				</tr>
				<tr>
					<td>Ihr Nachname:</td>
					<td><h:inputText value="#{processVariables['nachname']}" /></td>
				</tr>
				<tr>
					<td>Baujahr des Fahrzeuges:</td>
					<td><h:inputText value="#{processVariables['kfzBaujahr']}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:inputText> (TT/MM/JJJJ)</td>
				</tr>
				<tr>
					<td>Kaufpreis des Fahrzeuges:</td>
					<td><h:inputText value="#{processVariables['kfzKaufpreis']}" />
					</td>
				</tr>
				<tr>
					<td>Erstbesitzer?</td>
					<td><h:selectBooleanCheckbox
							value="#{processVariables['kfzErstbesitzer']}" /></td>
				</tr>
				<tr>
					<td />
					<td><h:commandButton value="Submit" 
							action="#{businessProcess.startProcessByKey('versicherungsabschluss')}" />							
					</td>
				</tr>
			</table>
		</h:form>
	</ui:define>

</ui:composition>
