<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/templates/template.xhtml">
	<ui:define name="content">

		<h1>List of assigned Tasks</h1>

		<h:form>
			<p>
				Tippen Sie hier Ihren Namen ein, um Ihre Antraege zu sehen: <br/>
				<h:inputText value="#{currentUser.username}"> 
					<f:ajax render="taskList" event="keyup" />
					<f:ajax render="taskList" event="blur" />
				</h:inputText><br/>
				(Wenn Sie ein Sachbearbeiter sind, tippen sie 'sachbearbeiter' ein)
			</p>		

			<h:dataTable value="#{taskListController.getTaskList(currentUser.username)}" var="v_task" id="taskList">
				<h:column>
					<f:facet name="header">Task Name</f:facet>
						#{v_task.name}
					</h:column>
				<h:column>
					<f:facet name="header">Description</f:facet>
						#{v_task.description}
					</h:column>
				<h:column>
					<f:facet name="header">Action</f:facet>
					<h:outputLink
						value="#{formService.getTaskFormData(v_task.id).formKey}.jsf">
					Complete
					<f:param name="taskId" value="#{v_task.id}"></f:param>
					</h:outputLink>
				</h:column>
			</h:dataTable>

		</h:form>

	</ui:define>
</ui:composition>
