<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="WEB-INF/templates/template.xhtml">
	
<ui:define name="metadata">
    <f:metadata>
      <f:viewParam id="taskId" name="taskId" />
      <f:viewParam id="callbackUrl" name="callbackUrl" />
      <f:event type="preRenderView" listener="#{fox.taskForm.startTask(taskId, callbackUrl)}" />
    </f:metadata>
</ui:define>
	
<ui:define name="form">
		<div class="control-group">
			<label class="control-label" for="approval">Freigeben</label>
		    <div class="controls">
			    <h:selectOneMenu id="approval" value="#{approveInvoiceController.approved}">
					<f:selectItem itemValue="true" itemLabel="Ja" />
					<f:selectItem itemValue="false" itemLabel="Nein" />					
				</h:selectOneMenu>				
			</div>
		</div>
</ui:define>

</ui:composition>
